/* .green-container{
    width: 95%;
    height: auto;
    background-color:#064f44 ;
    margin-left: 2.5%;
    margin-top: 9%;
    padding: 25px 0px;
    text-align: center;
   
    } */
    .beige-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
        width: 70%;
    height: auto;
    background-color: #f0e6dd;
    border-radius: 100px;
    margin-top: 12%;
    margin-left: 15%;
    color: #064f44 ;
    font-size: 20px;
    padding: 40px 0px;
    
    }
    .speach{
text-align: center;
font-size:xx-large;

    }
    #second-part{
        width: auto;
        height: 50px;
        color: #f6c9a7;
        background-color: #064f44;
        font-size: larger;
        border-radius: 15px;
        align-self: center;
    }
    h1{
        background-color: #f6c9a7;
        color: #064f44;
        width: auto;
        height: 55px;
        border-radius: 15px;
        align-self: center;
    }
    body{
        background-image: url("goal.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media only screen and (min-device-width:481px) and (max-device-width:768px)
{
    body{background-image: none;
        background-color:#064f44;
        
     }
}